<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6D1B26293FFC1864B89FE68EF4C662A3DDE148B4</string>
				<key>dateExpires</key>
				<string>21/7/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D1B26293FFC1864B89FE68EF4C662A3DDE148B4</string>
						<key>dateExpires</key>
						<string>21/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8RXAX8KJ6</string>
						<key>name</key>
						<string>Grant Watts</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D1B26293FFC1864B89FE68EF4C662A3DDE148B4</string>
						<key>dateExpires</key>
						<string>21/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorApp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8RXAX8KJ6</string>
						<key>name</key>
						<string>Grant Watts</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D1B26293FFC1864B89FE68EF4C662A3DDE148B4</string>
						<key>dateExpires</key>
						<string>21/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8RXAX8KJ6</string>
						<key>name</key>
						<string>Grant Watts</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D1B26293FFC1864B89FE68EF4C662A3DDE148B4</string>
						<key>dateExpires</key>
						<string>21/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorGeolocation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8RXAX8KJ6</string>
						<key>name</key>
						<string>Grant Watts</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D1B26293FFC1864B89FE68EF4C662A3DDE148B4</string>
						<key>dateExpires</key>
						<string>21/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorHaptics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8RXAX8KJ6</string>
						<key>name</key>
						<string>Grant Watts</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D1B26293FFC1864B89FE68EF4C662A3DDE148B4</string>
						<key>dateExpires</key>
						<string>21/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8RXAX8KJ6</string>
						<key>name</key>
						<string>Grant Watts</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D1B26293FFC1864B89FE68EF4C662A3DDE148B4</string>
						<key>dateExpires</key>
						<string>21/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorPushNotifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8RXAX8KJ6</string>
						<key>name</key>
						<string>Grant Watts</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D1B26293FFC1864B89FE68EF4C662A3DDE148B4</string>
						<key>dateExpires</key>
						<string>21/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorSplashScreen.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8RXAX8KJ6</string>
						<key>name</key>
						<string>Grant Watts</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D1B26293FFC1864B89FE68EF4C662A3DDE148B4</string>
						<key>dateExpires</key>
						<string>21/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorStatusBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8RXAX8KJ6</string>
						<key>name</key>
						<string>Grant Watts</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D1B26293FFC1864B89FE68EF4C662A3DDE148B4</string>
						<key>dateExpires</key>
						<string>21/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8RXAX8KJ6</string>
						<key>name</key>
						<string>Grant Watts</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D1B26293FFC1864B89FE68EF4C662A3DDE148B4</string>
						<key>dateExpires</key>
						<string>21/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8RXAX8KJ6</string>
						<key>name</key>
						<string>Grant Watts</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D1B26293FFC1864B89FE68EF4C662A3DDE148B4</string>
						<key>dateExpires</key>
						<string>21/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8RXAX8KJ6</string>
						<key>name</key>
						<string>Grant Watts</string>
					</dict>
					<key>versionNumber</key>
					<string>10.28.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D1B26293FFC1864B89FE68EF4C662A3DDE148B4</string>
						<key>dateExpires</key>
						<string>21/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8RXAX8KJ6</string>
						<key>name</key>
						<string>Grant Watts</string>
					</dict>
					<key>versionNumber</key>
					<string>10.29.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D1B26293FFC1864B89FE68EF4C662A3DDE148B4</string>
						<key>dateExpires</key>
						<string>21/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8RXAX8KJ6</string>
						<key>name</key>
						<string>Grant Watts</string>
					</dict>
					<key>versionNumber</key>
					<string>10.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D1B26293FFC1864B89FE68EF4C662A3DDE148B4</string>
						<key>dateExpires</key>
						<string>21/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8RXAX8KJ6</string>
						<key>name</key>
						<string>Grant Watts</string>
					</dict>
					<key>versionNumber</key>
					<string>10.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D1B26293FFC1864B89FE68EF4C662A3DDE148B4</string>
						<key>dateExpires</key>
						<string>21/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8RXAX8KJ6</string>
						<key>name</key>
						<string>Grant Watts</string>
					</dict>
					<key>versionNumber</key>
					<string>9.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D1B26293FFC1864B89FE68EF4C662A3DDE148B4</string>
						<key>dateExpires</key>
						<string>21/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8RXAX8KJ6</string>
						<key>name</key>
						<string>Grant Watts</string>
					</dict>
					<key>versionNumber</key>
					<string>7.13.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6D1B26293FFC1864B89FE68EF4C662A3DDE148B4</string>
						<key>dateExpires</key>
						<string>21/7/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A8RXAX8KJ6</string>
						<key>name</key>
						<string>Grant Watts</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30910.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A8RXAX8KJ6.app.web.pideenremis</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>A8RXAX8KJ6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>30fcd6bd-5125-451a-b236-d6bf2fbdf762</string>
				<key>dateExpires</key>
				<string>21/7/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: app.web.pideenremis</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A8RXAX8KJ6</string>
				<key>name</key>
				<string>Grant Watts</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
