@if (user) {
  <ion-item>
    <ion-avatar slot="start">
      @if (user.photo) {
        <img [src]="user.photo | reftourl | async">
      } @else {
          <img src="https://i.pinimg.com/736x/0d/64/98/0d64989794b1a4c9d89bff571d3d5842.jpg">
      }
    </ion-avatar>
    <ion-label>
      <strong>Nombre:</strong>  {{user.name}}
      <p> <strong>Email:</strong>  {{user.email}}</p>
      <p> <strong>Edad:</strong>  {{user.age}}</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-select label="Rol" label-placement="floating" multiple
    (ionChange)="changeRol($event)" [(ngModel)]="rolesSelect">
      @for (rol of roles; track $index) {
        <ion-select-option [value]="rol">{{rol}}</ion-select-option>
      }
    </ion-select>
  </ion-item>





}
