rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /intentsLogin/{intentId} {
      allow get: if true;
      allow create: if true;
      allow update: if request.auth != null;
      allow delete: if true;
    }
		
    match /Users/{userId} {


                     
      allow create: if ( request.auth.uid == userId 
      								&& !request.resource.data.roles.keys().hasAny(['admin'])
                       ) || request.auth.token.roles.admin == true;
                       
      allow update: if ( request.auth.uid == userId 
      								&& request.resource.data.roles == resource.data.roles
                       ) || request.auth.token.roles.admin == true;  
                                        
      allow delete: if request.auth.uid == userId || request.auth.token.roles.admin == true;                
                       
      allow get: if request.auth.uid == userId || request.auth.token.roles.admin == true;  
      
      allow list: if request.auth.token.roles.admin == true;
 
    }
    
  }
}