<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>Carrito</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/store"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  color="light">

  <ion-header collapse="condense">
    <ion-toolbar color="light">
      <ion-title size="large">Carrito</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" sizeMd="8">

        <ion-list>
          <ion-list-header>
            <ion-label>Productos:</ion-label>
          </ion-list-header>


          @for (item of carrito?.items; track $index) {
              <app-item-carrito [item]="item"></app-item-carrito>
          }

        </ion-list>


      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-end">
    <ion-item lines="none">
      <ion-badge slot="end">{{carrito?.total | currency}}</ion-badge>
      <ion-label class="ion-text-end">
        <strong>Total:</strong> 
      </ion-label>
    </ion-item>  
  </ion-toolbar>
</ion-footer>