@if (pedido) {
  <ion-card mode="ios">

    <!-- seguimiento -->
     <ion-item detail>
      <ion-label>
        <p> id: {{pedido.id}}</p>
        <p>{{pedido.date | datefire | date:'medium'}}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="primary">
          seguimiento
        </ion-button>
      </ion-buttons>
     </ion-item>


    <!-- datos -->
    <ion-item>
      <ion-icon name="person" slot="start" color="primary"></ion-icon>
      <ion-label>
        <ion-text color="primary">Datos:</ion-text>  
        <p>{{pedido.info.datos?.name}}</p>
        <p>{{pedido.info.datos?.phone}}</p>
      </ion-label>
    </ion-item>
    <!-- fecha de entrega -->
    <ion-item>
      <ion-icon name="calendar" slot="start" color="primary"></ion-icon>
      <ion-label>
        <ion-text color="primary"> Fecha de entrega: </ion-text>  
        <p>{{ pedido.info.fechaEntrega | datefire | date:'dd-MM-yyyy'}}</p>
      </ion-label>
    </ion-item>
    <!-- dirección de entrega -->
    <ion-item detail lines="full"
    [routerLink]="['/store/map-direccion-pedido']" 
    [queryParams]="{lat: pedido.info.direccionEntrega.coordinate.lat, 
      lng: pedido.info.direccionEntrega.coordinate.lng,
      readonly: true}">
      <ion-icon name="location" slot="start" color="danger"></ion-icon>
      <ion-label>
        <ion-text color="primary">Dirección de entrega:</ion-text>  
        <p>{{pedido.info.direccionEntrega.referencia}}</p>
      </ion-label>
    </ion-item>

    <!-- productos -->
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Productos</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          @for (item of pedido.carrito.items; track $index) {
            <ion-item lines="full" detail [routerLink]="['/store/item/' + item.product.enlacePermanente]"  >
              <ion-thumbnail slot="start">
                <img [src]="item.product.images[0]" />
              </ion-thumbnail>
              <ion-label>
                {{item.product.name}}
              </ion-label>
              <ion-buttons slot="end">
                <ion-button>
                  {{item.product.price | currency}}
                </ion-button>
              </ion-buttons>
            </ion-item>
          }
          <ion-item lines="none">
            <ion-badge slot="end">{{pedido.carrito.total | currency}}</ion-badge>
            <ion-label class="ion-text-end">
              <strong>Total:</strong> 
            </ion-label>
          </ion-item>  
        </div>
      </ion-accordion>
    </ion-accordion-group>


    <!-- <ion-list inset>
        <ion-list-header>
          <ion-label>Productos:</ion-label>
        </ion-list-header>
    </ion-list> -->

  </ion-card>

}
