<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hola mundo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">  Hola mundo cambió</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-icon name="home"></ion-icon>
    <br>
    <ion-icon name="alarm-outline"></ion-icon>
    <br>
    <strong>Ready to create an app?</strong>
    <br>
    <ion-button (click)="save()" shape="round">
      guardar
    </ion-button>
    <ion-button [routerLink]="['/user/login']" >
      login
    </ion-button>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>

